body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --grey: #4C5454;
  --orange: #FF715B;
  --white: #FFFFFF;
  --turquoise: #1EA896;
  --brown: #523F38;
}


/* General */
.btn {
  font: inherit;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.bg-turquoise {
  background-color: var(--turquoise);
}

.bg-orange {
  background-color: var(--orange);
}

.btn:disabled {
  background-color: var(--grey);
  cursor: default;
}

/* Main game */

#overall-container {
  max-width: min(80%, 75em);
  margin-left: 5em;
}

#gameplay-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Chat */

.flash-message {
  background-color: var(--orange); 
  -webkit-transition:background-color 2s linear; 
}


#log {
  border: #4C5454;
  border-width: 1px;
  border-style: solid;
  padding: 2em;
}

#log li {
  padding: 0.5em;
  border-radius: 5px;
  list-style: none;
}


/* Location CSS */

#location-container {
  display: subgrid;
  grid-template-columns: 1fr 1fr;
}

.location {
  text-align: center;
  position: relative;
}

.location img {
  max-width: 15em;
  max-height: 15em;
}

.location p {
  position: absolute;
  text-transform: capitalize;
  background-color: var(--white);
  opacity: 80%;
  align-content: center;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.location-btn{
  position:absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 90%;
  background-color: var(--white);
}

/* Location context */

#location-context-header {
  text-transform: capitalize;
}

form div {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

/* Resources and character portrait */

#resource-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.resource-icon {
  display: inline;
  height: 1.5em;
  width: 1.5em;
}

#character-portrait {
  max-width: 10em;
  max-height: 10em;
  display: inline;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: var(--turquoise);
}

#character-title {
  font-weight: bold;
  text-transform: capitalize;
}

#objective {
  font-weight: bold;
}

/* Icons */

.icon {
  max-width: 1.5em;
  max-height: 1.5em;
  margin-left: 0.2em;
}

.armor {
  content: url("static/armor-icon.png");
}

.herbs {
  content: url("static/herbs-icon.png");
}