body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --grey: #4C5454;
  --orange: #FF715B;
  --white: #FFFFFF;
  --turquoise: #1EA896;
  --brown: #523F38;
}


/* General */
.btn {
  font: inherit;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.bg-turquoise {
  background-color: var(--turquoise);
}

.bg-orange {
  background-color: var(--orange);
}

.btn:disabled {
  background-color: var(--grey);
  cursor: default;
}

/* Main game */

#overall-container {
  max-width: min(80%, 75em);
  margin-left: 5em;
}

#header-grid {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#gameplay-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
}

/* Chat */

.flash-message {
  background-color: var(--orange); 
  -webkit-transition:background-color 2s linear; 
}


#log {
  border: #4C5454;
  border-width: 1px;
  border-style: solid;
  padding: 2em;
}

#log li {
  padding: 0.5em;
  border-radius: 5px;
  list-style: none;
}


/* Location CSS */

/* #location-container {
  display: subgrid;
  grid-template-columns: 1fr 1fr;
}

.location {
  text-align: center;
  position: relative;
}

.location img {
  max-width: 15em;
  max-height: 15em;
}

.location p {
  position: absolute;
  text-transform: capitalize;
  background-color: var(--white);
  opacity: 80%;
  align-content: center;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.location-btn{
  position:absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 90%;
  background-color: var(--white);
}
 */
/* 
 .location-image {
  background-image: url("static/graveyard.png");
  padding: 2em;
  background-size: contain;
  background-repeat: no-repeat;
 } */

 #location-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
  gap: 1em;
 }

.location-img {
  max-width: 20em;
  max-height: 25em;
}

 /* Location context */

#location-container {
  margin-left: 5em;
}

#location-context-header {
  text-transform: capitalize;
}

form div {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

/* Character details */

#character-details-container {
  position: relative;
  max-width: 10em;
}

#character-details p, ul {
  font-size: 0.8em;
}

#character-portrait {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: var(--turquoise);
}

#char-details-toggle-btn {
  position: absolute;
  top: 60%;
  left: 45%; /* this button goes off-center: TODO - fix in a nicer way */
  font: inherit;
  border: none;
  cursor: pointer;
  opacity: 80%;
  border-radius: 5px;
}

#character-title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.1em;
  color: var(--turquoise);
  text-align: left; /* This can't be perfectly centered - fix this */
  margin-top: 0px;
}

.character-details {
  max-height: 0px;
  overflow: hidden;
  transition: 0.4s; /* TODO - jumpy CSS transition here - fix */
}

.visible {
  max-height: 200px;
  overflow: visible;
  transition: 0.4s;
}


/* Resources */
#resource-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.resource-title{
  font-weight: bold;
}

.resource-icon {
  display: inline;
  height: 1.5em;
  width: 1.5em;
}

/* Icons */

.icon {
  max-width: 1.5em;
  max-height: 1.5em;
  margin-left: 0.2em;
}

.armor {
  content: url("static/armor-icon.png");
}

.herbs {
  content: url("static/herbs-icon.png");
}

.coins {
  content: url("static/coins-icon.png");
}

.scrolls {
  content: url("static/scrolls-icon.png");
}

.bones {
  content: url("static/bones-icon.png");
}

/* Location select grid */

.location-select-grid {
  display: flex;
  text-align: center;
}

.radio-button {
  margin-left: 5px;
  margin-right: 5px;
  width: 10em;
  height: 3em;
  position: relative;
}

.radio-button label,
.radio-button input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.radio-button input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.radio-button input[type="radio"]:checked + label {
  background: var(--orange);
  border-radius: 4px;
}

.radio-button label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
}

/* Player order status */

.chevron {
  background: var(--grey);
  display: inline-block;
  height: 3em;
  margin-right: 55px;
  position: relative;
  width: 8em;
  text-align: center;
}

.chevron::before {
  border-bottom: 2em solid var(--grey);
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  content: "";
  height: 0;
  left: 7em;
  position: absolute;
  top: 0.5em;
  width: 0;
  rotate: 90deg;
}

.active {
  background: var(--turquoise);
}

/* TODO - refactor to avoid repetition between active and chevron */
.active::before {
  border-bottom: 2em solid var(--turquoise);
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  content: "";
  height: 0;
  left: 7em;
  position: absolute;
  top: 0.5em;
  width: 0;
  rotate: 90deg;
}
